$font-base: Compromis, Helvetica, Arial, sans-serif;
$font-headers: Oswald, Helvetica, Arial, sans-serif;
$background-color: #fff;
$text-color: #313233;
$basic-orange: #ea580c;
$orange-start: #e28333;
$orange-end: #d4432f;
$secondary-color: $basic-orange;
$campaign-color: $basic-orange;
$white: #fff;
$mobile-breakpoint: 769px;
$block-width: 900px;
$button-background: rgba(12, 21, 31, 0.5);
$overlay: $basic-orange;